# FastAPI backend
fastapi
uvicorn

# File upload & validation
python-multipart==0.0.9
pydantic

# CORS support
fastapi[all]

# Machine Learning
tensorflow
numpy
pillow

# Database (SQLAlchemy)
sqlalchemy

# Environment variables
python-dotenv
